{
    "logTypeIdentifier": [
        {
            "identifier": [
                {
                    "find": "UnifiedAgent version"
                },
                {
                    "find": "Start: Update Inventory"
                },
                {
                    "find": "Support Token"
                }
            ],
            "name": "Unified Agent",
            "searchTerms": [
                {
                    "dictionaryItems": [
                        {
                            "key": "Version",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": ") :"
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "UnifiedAgent version"
                        },
                        {
                            "find": "(pluginVersion)"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "UnifiedAgentVersion",
                    "Summary": "Unified Agent Version: {{dictionary(Version)}}"
                },
                {
                    "dictionaryItems": [
                        {
                            "key": "SupportToken",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "Support Token:"
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "Support Token:"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "SupportToken",
                    "Summary": "Support Token: {{dictionary(SupportToken)}}"
                },
                {
                    "display": false,
					"dictionaryItems": [
                        {
                            "key": "ProjectName",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "Project name:"
                        }
                    ],
                    "filters": [
                        {
                            "find": "Project name:"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "ProjectName",
                    "Summary": "Project Name and URL: {{dictionary(ProjectName)}}"
                },
                {
                    "dictionaryItems": [
                        {
                            "key": "Command",
                            "textEndIndexOf": "',",
                            "textStartIndexOf": "command '"
                        },
                        {
                            "key": "ExitStatus",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "Exit Status "
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "error in execute command"
                        },
                        {
                            "find": "[WARN]"
                        },
                        {
                            "find": "Exit Status"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "ExecutionError",
                    "nextSteps": "Error executing package manager command: {{dictionary(Command)}}.  Exited with status code: {{dictionary(ExitStatus)}}",
                    "Summary": "Error executing package manager command: {{dictionary(Command)}}.  Exited with status code: {{dictionary(ExitStatus)}}"
                },
                {
                    "dictionaryItems": [
                        {
                            "key": "Command",
                            "textEndIndexOf": "' ",
                            "textStartIndexOf": ": '"
                        }
                    ],
                    "display": true,
                    "filters": [
                        {
                            "find": "is not recognized as an internal or external command"
                        },
                        {
                            "find": "[WARN]"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "PackageManagerError",
                    "nextSteps": "Error executing package manager command: {{dictionary(Command)}}.",
                    "Summary": "Error executing package manager command: {{dictionary(Command)}}."
                },
                {
                    "display": true,
                    "filters": [
                        {
                            "regex": "\\[WARN\\]"
                        }
                    ],
                    "includeInSummary": false,
                    "name": "Warn"
                },
                {
                    "display": false,
                    "filters": [
                        {
                            "find": "[WARN]"
                        },
                        {
                            "find": "error in execute command"
                        },
                        {
                            "find": "Exit Status"
                        }
                    ],
                    "groupResults": false,
                    "includeInSummary": true,
                    "name": "ExecuteFailure"
                }
            ],
            "showFindingResultsAtBottom": true
        }
    ]
}